<%inherit file="/base/index.html"/>
<p>
This page presents the data digitized and processed by the <a href="http://www.quanthistling.info/">QuantHistLing project</a>
at the Philipps University in Marburg.
</p>

% if config['filtered'] == "true":
<h2>Description</h2>
<p>
This is the <b>filtered</b> version of the corpus of dictionaries and wordlists. Due to copyright restrictions we are not allowed to publish the whole dataset.
This version comprises all dictionary and wordlist entries that contain one word which has a stem that belongs to one
of the words in the Spanish swadesh list. We used the entries of the
<a href="http://en.wiktionary.org/wiki/Appendix:Spanish_Swadesh_list">Wikipedia swadesh list</a> to filter our data. Each entry of
the swadesh list and each entry of our sources was stemmed using the <a href="http://nltk.org/_modules/nltk/stem/snowball.html">
Snowball stemmer of the NLTK</a>. In case of equality the entry is included in the data you will find here. The Python script that we
used to filter the entries is available <a href="http://code.google.com/p/qlc/source/browse/trunk/src/webapp/quanthistling/scripts/filter_entries.py">here</a>
(the filter algorithm starts around line 67).
</p>
<p>
In addition we included one of the sources without any filter, so you have full access to the complete data of the following source:
<a href="http://www.quanthistling.info/data/source/thiesen1998/dictionary-25-339.html">Thiesen, Wesley & Thiesen, Eva. 1998.
Diccionario Bora—Castellano Castellano—Bora</a>.
</p>

<!--<h2>License</h2>
<p>
???
</p>-->

<h2>Downloads</h2>
<p>
There are two download packages that contain the data from the whole corpus. One contain CSV files and only includes heads and translations in
the case of the dictionary sources, or concepts and counterparts in the case of wordlist sources. You may uses this data in combination
with the <a href="http://lingulist.de/lingpy/">lingpy libary</a>, for example. The other packages contains the complete basic data and annotations
encoded as data package (see <a href="http://dataprotocols.org/">Data Protocols</a>. Check the README in the package for more information about the. The download links are:
<ul>
<li>CSV files: <a href="http://www.quanthistling.info/data/downloads/csv/data.zip">http://www.quanthistling.info/data/downloads/csv/data.zip</a></li>
<li>GrAF/XML files: <a href="http://www.quanthistling.info/data/downloads/datapackages/data.zip">http://www.quanthistling.info/data/downloads/xml/data.zip</a></li>
</ul>
</p>
% endif