<%inherit file="/base/index.html"/>
<%namespace name="component" file="/component/book_header.html" />
<%page cached="True" cache_key="${url.current(qualified=True)}"/>

${component.standardheader_wordlist()}

${component.bookinfo()}

<h2>Languages</h2>
% for wordlistdata in c.book.wordlistdata:
    <ul>
    <li>
        <a href="${h.url_for(controller='book', action='language_wordlist', bibtexkey=c.bibtexkey, language_bookname=wordlistdata.language_bookname.name, format='html')}">
        ${wordlistdata.language_bookname.name}
        </a>
        % if wordlistdata.language_iso != None:
            ; Approximate ISO 639-3 identification: <a target="_blank" href="${wordlistdata.language_iso.url}">${wordlistdata.language_iso.langcode}</a>
        % endif
    </li>
    </ul>
% endfor


<h2>Other content</h2>
% for nondictdata in c.book.nonwordlistdata:
    <ul>
    <li>
    <a href="${h.url_for(controller='book', action='nonwordlistdata', bibtexkey=c.book.bibtex_key, title=nondictdata.title_url(), volume=nondictdata.volume, startpage=nondictdata.startpage, endpage=nondictdata.endpage)}">
        ${nondictdata.title} (pp. ${nondictdata.startpage} - ${nondictdata.endpage})
        % if nondictdata.volume != None:
        , Volume ${nondictdata.volume}
        % endif
    </a>
    </li>
    </ul>
% endfor


<h2>Content from trac wiki</h2>
<p>
    ${h.get_trac_wiki_book_article(c.book.bibtex_key)}
</p>
